<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>[Utilisateur?.id]</td>
        <td>[utilisateurs?.nom]</td>
        <td>[utilisateurs?.prenom]</td>
        <td>[utilisateurs?.phone]</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>[utilisateurs?.id]</td>
        <td>[utilisateurs?.nom]</td>
        <td>[utilisateurs?.prenom]</td>
        <td>[utilisateurs?.phone]</td>
        <td></td>
      </tr>

    </tbody>
  </table>