<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{ utilisateurs[0].id }}</th>
        <td>{{ utilisateurs[0].nom }}</td>
        <td>{{ utilisateurs[0].prenom }}</td>
        <td>{{ utilisateurs[0].phone }}</td>
      </tr>
      <tr>
        <th>{{ utilisateurs[1].id }}</th>
        <td>{{ utilisateurs[1].nom }}</td>
        <td>{{ utilisateurs[1].prenom }}</td>
        <td>{{ utilisateurs[1].phone }}</td>
        <td></td>
      </tr>
      <tr>
        <th>{{ utilisateurs[2].id }}</th>
        <td>{{ utilisateurs[2].nom }}</td>
        <td>{{ utilisateurs[2].prenom }}</td>
        <td>{{ utilisateurs[2].phone }}</td>
        <td></td>
      </tr>

    </tbody>
  </table>